In [1]:
# If you change your AWS creds, you'll need to rerun this import
from utils import aws

In [4]:
ddf = aws.load_s3_file_as_ddf("s3://dsmp-ol2/processed-data/lob_full_data.parquet")
result = ddf.compute()
result

,Timestamp,Exchange,Bid,Ask,Date,Mid_Price
0,0.000,Exch0,[],[],2025-05-13,NaN
1,1.612,Exch0,"[[1, 1]]",[],2025-05-13,NaN
2,2.170,Exch0,"[[1, 1]]","[[181, 2]]",2025-05-13,91.0
3,2.449,Exch0,"[[2, 1]]","[[181, 2]]",2025-05-13,91.5
4,2.945,Exch0,"[[3, 1]]","[[181, 2]]",2025-05-13,92.0
...,...,...,...,...,...,...
1392800,30599.697,Exch0,"[[206, 1], [203, 2], [195, 9], [164, 4], [153,...","[[211, 3], [412, 3], [580, 5], [589, 5], [642,...",2025-05-06,208.5
1392801,30599.728,Exch0,"[[206, 1], [203, 2], [195, 9], [164, 4], [153,...","[[211, 3], [412, 3], [580, 5], [636, 5], [642,...",2025-05-06,208.5
1392802,30599.790,Exch0,"[[206, 1], [203, 2], [195, 9], [164, 4], [153,...","[[211, 3], [333, 3], [412, 3], [580, 5], [636,...",2025-05-06,208.5
1392803,30599.821,Exch0,"[[206, 1], [203, 2], [195, 9], [164, 4], [51, ...","[[211, 3], [333, 3], [412, 3], [580, 5], [636,...",2025-05-06,208.5
1392804,30599.945,Exch0,"[[206, 1], [203, 2], [195, 9], [164, 4], [51, ...","[[211, 3], [333, 3], [580, 5], [605, 3], [636,...",2025-05-06,208.5

In [4]:
# randomly sample data to reduce size
df = result.sample(frac=0.1, random_state=1)
df

,Timestamp,Exchange,Bid,Ask,Date,Mid_Price
461325,21052.782,Exch0,"[[187, 1], [186, 3], [185, 2], [184, 1], [182,...","[[213, 5], [214, 2], [215, 1], [392, 3], [615,...",2025-04-29,200.0
428785,24698.630,Exch0,"[[148, 11], [145, 4], [143, 4], [142, 4], [141...","[[150, 5], [154, 3], [156, 5], [390, 3], [550,...",2025-03-25,149.0
42500,9179.472,Exch0,"[[275, 4], [274, 1], [271, 10], [270, 5], [269...","[[280, 5], [281, 4], [282, 2], [360, 3], [662,...",2025-03-04,277.5
558384,14874.544,Exch0,"[[117, 5], [112, 9], [110, 5], [109, 8], [108,...","[[178, 3], [179, 3], [181, 5], [293, 4], [407,...",2025-06-04,147.5
372636,18220.002,Exch0,"[[144, 3], [143, 10], [142, 7], [138, 1], [128...","[[146, 4], [236, 5], [579, 3], [590, 5]]",2025-03-31,145.0
...,...,...,...,...,...,...
198054,7795.043,Exch0,"[[306, 9], [304, 6], [303, 5], [301, 9], [300,...","[[307, 3], [314, 1], [320, 1], [322, 6], [508,...",2025-01-06,306.5
823257,17720.313,Exch0,"[[142, 11], [141, 9], [136, 3], [134, 3], [127...","[[143, 3], [144, 4], [146, 5], [206, 4], [679,...",2025-05-20,142.5
793190,23484.918,Exch0,"[[100, 3], [99, 8], [61, 11], [48, 3], [43, 1]]","[[101, 3], [104, 5], [106, 3], [107, 5], [427,...",2025-06-24,100.5
225661,3310.645,Exch0,"[[207, 3], [205, 1], [200, 1], [198, 11], [197...","[[210, 1], [213, 2], [342, 5], [559, 3]]",2025-03-10,208.5
478802,29395.254,Exch0,"[[147, 1], [146, 1], [144, 3], [142, 6], [141,...","[[154, 5], [155, 4], [156, 5], [161, 5], [243,...",2025-03-25,150.5

In [5]:
df.to_parquet('data/lob/lob_sample_data.parquet')